.mpc-2000xl {
  background: $beige;
  width: 75em;
  height: 52.5em;
  padding-left: 4em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 3.5em #333;
  -moz-box-shadow: 0 0 3.5em #333;
  box-shadow: 0 0 3.5em #333;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.screen {
  height: 8em;
  width: 22em;
  background: #111;
  padding: 3em 5em;

  .display {
    height: 8em;
    background: #fff;
  }
}

.fn-buttons {
  margin-top: 1em;
  display: flex;
  margin-left: 5em;
  margin-right: auto;
  width: 22em;

  span {
    padding: 1px 5px;
    margin-left: 4px;
    background: #98a7ce;
    font-size: 0.7em;
  }

  button {
    margin-top: 6px;
    height: 1em;
    width: 2em;
  }

  div {
    text-align: center;
    width: 5em;
  }
}

.numeric-pad {
  margin-bottom: 1em;
  text-align: center;

  div {
    text-align: center;
    width: 4em;
  }

  span {
    font-size: 0.65em;
    padding-left: 6px;
  }

  button {
    margin-top: 6px;
    height: 1em;
    width: 2em;
    background: #1a58a1;

    &.white {
      background: #e9efe3;
    }
  }
}

div.data-wheel {
  text-align: center;
  width: 15em;
  max-height: 20em;

  span {
    font-size: 0.5em;
  }

  .main-buttons {
    margin-bottom: 1em;

    div {
      width: 5em;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      width: 3em;
      height: 1.5em;
    }
  }

  .open-window {
    background: #dc8f55;
  }

  .wheel {
    background: #23292d;
    height: 4em;
    width: 4em;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 1.75em;
  }
}

.thumb-hole {
  background: #41484c;
  height: 2em;
  width: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.slider {
  border: 1px solid #999;
  padding: 0 .5em 0.5em;
}

.bank-leds.active {
  background: #a1ffac;
}

.note-var-led {
  background: #54865c;
  height: 0.25em;
  width: 0.25em;
  border-radius: 50%;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.btn-after {
  width: 2.5em;
  height: 1.25em;
}

.bottom-left {
  margin-top: 2em;
}

.fader {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 0.3em;
  height: 7em;
  background: #222;
}

.fader-knob {
  width: 2.5em;
  background: #e3edef;
  margin-left: -1.2em;
  margin-top: 3.5em;
  padding: 0.8em 0;

  .line {
    background: #3b7bce;
    height: 0.1em;
  }
}

.pad {
  height: 7em;
  width: 9em;
  background: #757774;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0.5em;
}

.drum-pads {
  margin: 2em 1.3em 2em 13em;
  padding: 1em 2em;
  background: #a5a9b0;
}

.top-right {
  margin-left: 13em;
  margin-right: 1.2em;
  background: #a5a9b0;
  padding: 2em 2em 1em;
}

.record-knob, .volume-knob {
  width: 4em;
  height: 4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: white;
  margin: 0 1.5em;
  color: #626068;
  font-weight: bold;
  padding-bottom: 43.5%;
  outline: none;

  &:active, &:focus {
    outline: none;
  }
}

.record-knob {
  background-color: #daaba7;
  border: 2px solid #ddd;
  margin-top: 5px;
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
}

.volume-knob {
  background-color: #f1f6f2;
  border: 2px solid #ddd;
  margin-top: 5px;
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
}

.knob-label {
  font-size: 0.75em;
}

.bank-buttons {
  margin-left: 30em;
  margin-top: -4em;
  margin-bottom: 4em;

  &>div {
    margin-right: 1.5em;
  }
}

.tap-tempo {
  float: left;
  margin-left: -3.5em;
  margin-top: 1.5em;
}

.tempo-btn {
  height: 2.5em;
  width: 2.75em;
}

.arrows {
  float: right;
  margin-top: -4.75em;
  margin-right: 4.5em;
}

.arrow-left, .arrow-right {
  height: 4em;
  width: 2em;
}

.arrow-right {
  margin-left: -0.25em;
}

.arrow-up {
  width: 2.5em;
  height: 2em;
}

.arrow-down {
  margin-left: -0.3em;
  width: 3em;
  height: 2.38em;
  font-size: 0.7em;
}

.undo-seq {
  float: left;
  margin-top: 6em;
  margin-left: -3.5em;

  .note-var-led {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
  }
}

.erase {
  margin-top: 6.55em;
  margin-left: 0.75em;
}

.locate {
  margin-top: 2em;
  margin-left: -3.25em;

  button {
    margin-right: 3em;
  }
}

.record-play {
  margin-left: -4em;
  margin-top: 1.5em;

  div {
    margin-right: 0.3em;
  }

  .note-var-led {
    margin-bottom: 0.1em;
    margin-right: 0;
    display: inline-block;
  }

  button {
    height: 2.5em;
    width: 3em;
  }

  .red {
    background-color: #97201c;
  }
}
